<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Geofence App</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/geofence/show">Show Geofences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/geofence/add">Add Geofence</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Register User</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <h1 class="text-center">
        Welcome to <br />
        'Automated, Infrastructure-less Toll Collection using Geofencing'
      </h1>
      <img src="./home.jpg" alt="" srcset="" />
      <p class="text-center display-6">
        Manage geofences, track tolls and monitor vehicle data with ease.
      </p>
      <div class="d-flex justify-content-center row">
        <div class="col-6 border border-black p-5">
          <p class="blockquote">Admin</p>
          <a href="/geofence/add" class="btn btn-primary me-2">Add Geofence</a>
          <a href="/geofence/show" class="btn btn-primary me-2"
            >View Geofences</a
          >
        </div>
        <div class="col-6 border border-black p-5">
          <p class="blockquote">User</p>
          <a href="#" class="btn btn-success me-2">User Details</a>
          <a href="#" class="btn btn-success me-2">Transaction History</a>
        </div>
      </div>
    </div>

    <!-- Bootstrap Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
